@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: repeat(3, 25rem);
    grid-auto-columns: 25rem;
    grid-auto-rows: 25rem;
    gap: 2rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    gap: 2rem;
    padding: 2rem;
    height: 20rem;
}

form {
    
}

.button-container {
    display: flex;
    gap: 5rem;
}

.addBook {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    padding: 1rem 2rem;
}

.displayLibrary {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    padding: 1rem 2rem;
}